.block {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
}
.date {
  min-width: 45%;
  z-index: 1500 !important;
}

.formWrapper {
  width: 100%;
  display:flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}