.settings__password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.password__input {
  padding: 10px;
  max-width: 250px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.password__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.password__message {
  padding-left: 5px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}