@import '../../shared/style/variables';

html {
  background: #ededed;
  min-height: 100vh;
}

body {
  @include mainText;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(-141deg, #eef5f7 14%, #eef2fb 100%);
}

.App {
  @include mainText;
  text-align: center;
  font-size: 2rem;
}

.page {
  display: flex;
}

.rs-picker-menu {
  z-index: 1302 !important;
}
