@import '../../../shared/style/variables';


.form {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  @media all and (max-width:740px) {
    margin: max(5vw, 40px) auto;
    padding: 10px;
   }
   @media all and (max-width:500px) {
    width: 90%;
    margin: max(2vw, 20px) auto;
    padding: 10px;
   }
}

.formtext {
  font-size: 0.8em;
}

.error {
  text-align: center;
  color: red;
  padding: 1em;
}

.title {
  font-size: max(1.5vw, 24px);
  text-align: center;
  padding: 1em 0 0 0;
  @media all and (max-width:740px) {
    padding: 1em 0 0 0;
   }
   @media all and (max-width:500px) {
    font-size: 20px;
   }
}

.icon {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-top: 1em;
}