@import '../../../shared/style/variables';

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.textWrapper {
  width: 80vw;
  height: 50%;
  margin: 10vh auto;
  padding: min(100px, 2em);
  text-align: center;
  font-size: 16px;
}

.title,
.subtitle,
.text {
  @include mainText;
  font-weight: 800;
  font-size: max(7vw, 38px);
  color: $basic-blue;
}

.subtitle {
  font-size: max(3vw, 18px);
}
.text {
  font-size:max(2vw, 16px);
}
.link{
  font-size: 1em;
}

hr{
  padding: 0;
  border: none;
  border-top: 3px solid $basic-blue;
  color: $basic-blue;
  text-align: center;
  margin: 0px auto;
  width: 20vw;
  height: 5px;
  z-index: -10;
}

