@import '../../../shared/style/variables';

.form {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  @media all and (max-width:740px) {
    margin: max(5vw, 40px) auto;
    padding: 10px;
   }
   @media all and (max-width:500px) {
    width: 90%;
    margin: max(2vw, 20px) auto;
    padding: 10px;
   }
}

.formtext {
  font-size: 0.8em;
}
