@import '../../../shared/style/variables';

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.intro {
  width: 90%;
  margin: 0 auto;
  padding-top: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: space-between;
  font-size: min(3vw, 38px);
}

.introText {
  @include mainText;
  margin-right: 2em;
  font-size: 1em;
  line-height: 1.1;
}

.subtitle {
  font-size: 0.9em;
}

.screenshot {
  display: block;
  max-width: 50vw;
  max-height: 60vh;
  object-fit: contain;
  @media all and (max-width: 960px) {
    max-width: 40vw;
  }
}