.header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #36404a;
  z-index: 100;

  &__logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-left: 55px;
  }
}

.bm-burger-button {
  position: fixed;
  z-index: 101;
  width: 25px;
  height: 18px;
  top: 17px;
  left: 15px;
}

.bm-burger-bars {
  background: white;
}
