@import '../../style/variables';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 10px;
  background-color: $bg-grey;
  @include mainText;
  font-size: 1rem;
  @media all and (max-width:740px) {
    height: 40px;
    font-size: 0.8rem;
  }
  @media all and (max-width:500px) {
    padding: 10px;
    height: 40px;
  }
}
