@import '../../shared/style/variables';

.filterWrapper {
  padding: 10px;
}

.filterHeader {
  padding-left: 10px;
  @include mainText;
  color:#485058;
  font-weight: 800;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #e8ecef;
  padding: 10px;
}

.filterBox {
  margin-bottom: 15px;

}

.filterItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  padding: 0;
  flex-wrap: wrap;
}

.filterTitle {
  font-size: 14px;
  color: $basic-blue;
  margin-bottom: 10px;
}

.filterBox {
  min-width: 50%;
}

.rangeBox {
  width: 50%;
  max-width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rangeLabel {
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px 0;
}